*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: "General Sans";
}

html, body{
    width: 100%;
    height: 100%;
}  



.main{
    width: 100%;
}


/* #more{
    margin:3vh 5vh;
} */

.hero {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}


#nav{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 2vw;
    
}


#nav a {
    text-decoration: none;
    
}


.heading{
    line-height: .9;
    margin-top: 90px;
}

.heading h1{
    opacity: .6;
    font-family: "general sans";
    text-transform: uppercase;
    font-size: 10vw;
    margin-left: 30px;
    
}


#dsigner{
    margin-left: 9.7vw;
}

.secondtext{
    width: fit-content;
    text-transform: uppercase;
}


.secondtext h5{
    font-size: 1.9vh;
    margin-top: 10px;
    text-align: right;
}

.smallhead{
    text-align: right;
    margin-top: 100px;
    padding-left: 50px;
}
    
.smallhead h4{
    font-size: 1vw;
    margin-top: .5vw;
    margin: 0 3vw;
    text-transform: uppercase;
}


.fottercontent{
    width: 100%;
    position: absolute;
    bottom: 2%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw; 
}


.fottercontent a{
    text-transform: uppercase;
    text-decoration: none;
}


.iconset{
    display: flex;
    gap: 4px;
    padding-left: 70px;
  
}

.ri-arrow-down-line{
    color: black;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}


.secondpage{
    border: solid 10px #888;
    height: 100vh;
}