*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
}

html, body{
     width: 100%;
     height: 100%;
}


.main{
     width: 100%;
     height: 100vh;
     background-color: black;
     
}


#nav{
     height: 100%;
     width: 100%;
     display: flex; 
     justify-content: space-between;
     align-items: center;
     padding: 0 5vw;
}
